*~
*.swp
tags/
target/
bin/
workspace.xml
.idea
*.iml
data/
.name
.classpath
.project
.settings/
build/
**/*.log
ide/
maven-lib/
.pub/

recipe_web/.pub/
recipe_web/.packages
recipe_web/pubspec.lock
/bootstrap-3.3.7/
/angular_components/
/angular_components_example/
